<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Address</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.restaurant_name %></td>
      <td><%= restaurant.restaurant_cuisine %></td>
      <td><%= '£' * restaurant.restaurant_price %></td>
      <td><%= restaurant.not_yet_reviewed? ? "Not yet rated" : restaurant.average_rating %></td>
      <td><%= restaurant.restaurant_address %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Delete', restaurant_path(restaurant),
              method: :delete %></td>

    </tr>
  <% end %>
</table>

<%= link_to 'Add restaurant', new_restaurant_path %>
