<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/restaurant_index.css">
</head>
<body id="bg3">
  <%= render 'banner' %>


  <div class="box0">
    <div class="box00">

      <br>
      <p style="font-size:32px">
        <strong><%= @restaurant.restaurant_name %></strong>
      </p>

      <p>
        <strong>Cuisine:</strong>
        <%= @restaurant.restaurant_cuisine %>
      </p>

      <p>
        <strong>Average Rating:</strong>
        <%= @restaurant.not_yet_reviewed? ? "#{@restaurant.restaurant_name} has not been rated yet" : @restaurant.average_rating %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= '£' * @restaurant.restaurant_price %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @restaurant.restaurant_address %>
      </p>

      <h2>Reviews</h2>
      <hr> <!-- subject to change --->
      <%= "We currently have no reviews for #{@restaurant.restaurant_name}" if @restaurant.reviews.empty? %>
      <% @restaurant.reviews.each do |review| %>
        <p>
          <strong><%= review.title %></strong>
        </p>
        <p>
          <strong>User: <%= review.user.email %></strong>
        </p>
        <p>
          <%= review.created_at.strftime("%d/%m/%Y")%>
        </p>
        <p>
          <strong>Rating: <%= ('*' * review.rating) %></strong>
        </p>
        <p>
          <%= review.body %>
        </p>
        <hr> <!-- subject to change --->
      <% end %>
      <br>
      <h3>Make a Review</h3>
      <% if flash[:alert] %>
        <div class="altert"><%= flash[:alert] %>
        </div>
      <% end %>
      <%=form_with(model: [@restaurant, @restaurant.reviews.build], local: true) do |form| %>
      <p>
        <%=form.label :title %><br>
        <%=form.text_field :title %>
      </p>
      <p>
        <%=form.label :rating %><br>
        <%= form.select :rating, options_for_select([1, 2, 3, 4, 5])%>
      </p>
      <p>
        <%=form.label :body %><br>
        <%=form.text_area :body %>
      </p>
      <p>
        <%=form.submit %>
      </p>
      <%end%>


      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
      <%= link_to 'Back', restaurants_path %>

    </div>
  </div>
</body>
